# miscellaneous
.DS_Store
.vscode/*
.idea/*
.env

# config files
etc/*.json
etc/*.sh

# data files
data/*

# temp files
build/*
tmp/*
iac/*_output.yaml
src/*/__pycache__

# files
notes.md
*.asc
*.csv
*.pdf
*.pyc
*.xlsx
